{% extends 'admin_base.html' %}

{% block title %}
User Management
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="page-title-box ">
                    <div class="row ">
                        <div class="col-12 col-md-4 col-lg-3 ">
                            <div class="d-flex align-items-center ">
                                <h5 class="page-title mb-0 mt-0" style="color: #000; ">
                                    Train Tracker
                                </h5>
                            </div>

                        </div>

                    </div><!--end row-->
                </div><!--end page-title-box-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container fluid-->
    <hr>


    <div class="container-fluid ">


    </div>
</div>

{% endblock %}
{% block script %}


{% endblock %}