<li class="nav-item dropdown menu-parent">

    <a class="nav-link text-white" href="#">
        User Management
    </a>
    <ul class="custom-dropdown">
        <li>
            <a href="#">
                - Company Details
            </a>
        </li>
        <li class="submenu-parent">
            <a href="#">- User Settings ▸</a>

            <ul class="submenu">
                <li>
                    <a href="/user/list">
                        Update User
                    </a>
                </li>
            </ul>

        </li>
        <li>
            <a href="#">
                - User Reports
            </a>
        </li>
    </ul>

</li>

<li class="nav-item dropdown menu-parent">

    <a class="nav-link text-white" href="#">
        Train Management
    </a>
    <ul class="custom-dropdown">
        <li>
            <a href="/add/train">
                - Add New Train
            </a>
        </li>
        <li>
            <a href="/train/tracker">
                - Manage Train
            </a>
        </li>

    </ul>

</li>